* {
	margin: 0;
	padding: 0;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 0;
}

body {
	background-color: var(--light-background);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

a {
	text-decoration: none;
	color: var(--light-text);
}

:root {
	--white: #fff;
	--gray: #eee;
	--dark-gray: #1a1c1e;
	--light-gray: #a1a5b0;
	--midnight-green: #55654b;
	--black: #000;
}

.theme-dark {
	--light-text: var(--white);
	--dark-text: var(--black);

	--light-background: var(--black);
	--dark-background: var(--white);

	--search-background: var(--dark-gray);
	--search-border: var(--dark-gray);

	--switch-background: var(--dark-gray);
	--switch-border: var(--dark-gray);

	--header-items: var(--light-gray);

	--scrollbar-background: var(--light-gray);
}
.theme-light {
	--light-text: var(--black);
	--dark-text: var(--light);

	--light-background: var(--white);
	--dark-background: var(--black);

	--switch-background: var(--light);
	--switch-border: var(--dark-gray);

	--search-background: var(--light);
	--search-border: var(--dark-gray);

	--header-items: var(--black);

	--scrollbar-background: var(--midnight-green);
}
